<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <components>
      <!-- valid settings go here -->
      <component id="ChatClient1"
             lifestyle="singleton"
             service="HipChat.HipChatClient, HipChat.Net"
             type="HipChat.HipChatClient, HipChat.Net">
        <parameters>
          <token>ABC</token>
          <room>123</room>
        </parameters>
      </component>
    </components>
  </castle>

</configuration>